$_main_bg_color: #177086; // колір бекграунда
$_main_text_color: #ffffff; // колір текста
$_hight_green_swiper: #005c76; // кнопки свайпера і активна пагінація + одна хвиля в футері
$_yellow_transp_review: #005c76; // Ревью секція картки бг
$_green_transp_features: #005c76; // feature секція картки бг
$_light_text_color: #ffffff; // білий текст та і впринципі білий
$_header_nav_bg: #cdfffc;
