.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.pagination-btn {
  width: 6px;
  height: 6px;
  padding: 0;
  // background-color: $_light_text_color;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  @include media(desktop) {
    height: 10px;
    width: 10px;
  }
}

.pagination-btn--active {
  height: 9px;
  width: 9px;
  // background-color: $_hight_green_swiper;
  background-color: #ffffff;
  @include media(desktop) {
    height: 16px;
    width: 16px;
  }
}
