.gallery {
  margin-bottom: 70px;
  scroll-margin-top: 80px;

  @include media(desktop) {
    margin-bottom: 140px;
    scroll-margin-top: 130px;
  }
}

.gallery-container {
}

.swiper-gallery {
  width: 253px;
  margin: 0 auto;
  margin-bottom: 20px;
  transition: all 500ms ease;
  @include media(desktop) {
    width: 798px;
  }
}

.gellary-swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  margin: 0 auto;
  transition: all 500ms ease;
  // background: radial-gradient(ellipse at center, #007670 40%, transparent 70%);

  @include media(desktop) {
    // background: radial-gradient(ellipse, #007670 30%, transparent 70%);
    gap: 24px;
    width: 926px;
  }
}

.gallery-slide-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: none;
  transition: all 500ms ease;

  @include media(desktop) {
    max-width: 798px;
    min-height: 465px;
  }
}

.swiper-slide-gallery {
  min-width: 252px;
  max-height: 245px;
  transition: all 500ms ease;
  @include media(desktop) {
    min-width: 352px;
    max-height: 464px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 5;
  }
}

.gallery-active-slide {
  // min-width: 985px;
  // min-height: 645px;
  transition: all 500ms ease;
  @include media(desktop) {
    // max-width: 352px;
    // min-height: 465px;
    z-index: 20;
  }
}

.gallery-nav {
  display: flex;
  justify-content: space-between;
}

/* Текстове описання */
.gallery-description {
  margin: 0 auto 40px;
  max-width: 700px;
  text-align: left;
  line-height: 1.6;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  padding: 0 15px;

  @media (max-width: 798px) {
    font-size: 14px; /* Менший шрифт */
    max-width: 320px; /* Обмежуємо ширину для читабельності */
    // margin: 0 auto 30px; /* Менший відступ знизу */
    padding: 0 15px; /* Додаємо падінг для зручного читання */
  }
}

/* Відступи між абзацами */
.gallery-description p {
  margin-bottom: 20px;

  @include media(desktop) {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }
}

.title-about-game {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  line-height: 1.1em;
  text-align: center;
  margin-bottom: 35px;
  font-style: normal;
  @include media(desktop) {
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }
}

.reviews-btn-v {
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #177086;
  @include media(desktop) {
    width: 40px;
    height: 40px;
  }
}
