.hero-wrapper {
  display: flex;
  position: relative;
  height: 324px;
  padding-top: 100px;
  // background: linear-gradient(0deg, #e5bb4a -37%, #007670 147%);

  @include media(desktop) {
    padding-top: 167px;
    height: 695px;
  }
}

.hero-text-button-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-basis: 272px;

  @include media(desktop) {
    flex-basis: 728px;
    gap: 38px;
  }
}

.hero-title {
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;

  @include media(desktop) {
    // font-size: 64px;
    font-size: 48px;
    
    line-height: 90px;
  }
}

.hero-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;

  @include media(desktop) {
    font-size: 24px;
    line-height: 36px;
  }
}

#display-none {
  display: none;

  @include media(desktop) {
    display: flex;
      margin-top: 5em;
        /* Верхній відступ */
        margin-right: 15px;
        /* Правий відступ */
        margin-bottom: 20px;
        /* Нижній відступ */
        margin-left: 5px;
  }
}

.hero-image {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    // right: -162px;
    right: 38px;
    // top: 87px;
  }
}
