.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: transform 500ms ease, opacity 300ms ease;
  opacity: 0;
  transform: translate(100%, 0%);
}

.is-open {
  opacity: 1;
  transform: translate(0%, 0%);
}

.mob-wrap {
  position: absolute;
  right: -100%;
  top: 50px;
  padding: 16px 21px 10px 16px;
  background: #034a5b;
  z-index: 999;
  opacity: 0;
  transition: left 500ms ease, opacity 500ms ease;

  border-radius: 0 0 28px 28px;
}

.backdrop.is-open .mob-wrap {
  right: calc(50% - 256px / 2);
  opacity: 1;
}

.mob-btn-close {
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mob-link {
  color: $_light_text_color;
  font-size: 14px;
}
