.reviews-section {
  margin-bottom: 70px;
  scroll-margin-top: 80px;
  @include media(desktop) {
    margin-bottom: 40px;
    scroll-margin-top: 30px;
  }
}

.reviews-container {
  @include media(desktop) {
    height: 716px;
    padding-top: 130px;
    padding-bottom: 100px;
    // background: linear-gradient(180deg, #e5bb4a 0%, #007670 50%, #e5bb4a 100%);
  }
}

.slide-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 258px;
  height: 176px;
  padding: 12px;
  border-radius: 10px;

  background: linear-gradient(to bottom right, #11596B 60%) bottom
      right / 51% 50% no-repeat,
    linear-gradient(to bottom left, #11596B 60%) bottom left / 50%
      50% no-repeat,
    linear-gradient(to top left, #11596B 60%) top left / 50% 50%
      no-repeat,
    linear-gradient(to top right, #11596B 60%) top right / 51% 50%
      no-repeat;

  @include media(desktop) {
    min-width: 294px;
    background: $_yellow_transp_review;
  }
}

.mobile-style {
  display: flex;
  margin-bottom: 10px;
}

.desktop-style {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.desktop-style .swiper-slide {
  display: block;
  width: auto;
}

.reviews-card-box {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 1.2em;
}

.reviews-card-theme {
  font-weight: 500;
}

.reviews-card-img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}

.review-nav {
  display: flex;
  justify-content: space-between;
  @include media(desktop) {
    display: none;
  }
}
