.reviews-section {
  margin-bottom: 50px;
  scroll-margin-top: 80px;
  @include media(desktop) {
    margin-bottom: 40px;
    scroll-margin-top: 30px;
  }
}

.reviews-container {
  position: relative;
  @include media(desktop) {
    height: auto;
    padding-top: 130px;
    padding-bottom: 100px;
    max-width: 1079px;
  }
}

.slide-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-width: 238px;
  justify-content: space-between;
  height: 241px;
  border-radius: 10px;
  background: rgba(17, 89, 107, 0.5);
  padding: 15px;
  border-radius: 20px;
  @include media(desktop) {
    border-radius: 20px;
    width: 289px;
    background: rgba(17, 89, 107, 0.5);
    border-radius: 20px;
    height: 317px;
  }
}

.mobile-style {
  display: flex;
  margin-bottom: 10px;
}

.desktop-style {
  display: flex;
  gap: 47px;
  flex-wrap: wrap;
  justify-content: center;
}

.desktop-style .swiper-slide-v {
  display: block;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.swiper-slide-v {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: 189px;
  min-height: 100%;
  border-radius: 10px;
  padding: 20px 20px 20px 45px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    width: 289px;
    height: 317px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
}

.reviews-card-box {
  display: flex;
  align-items: center;
  line-height: 1.2em;
}

.reviews-card-theme {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #fff;
  }
}

.reviews-card-img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
}

.review-nav {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 16px;
  transform: translateY(-50%);
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  @include media(desktop) {
    display: none;
  }
}

.reviews-stars {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.36em;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;
  @include media(desktop) {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.36em;
    text-align: center;
    color: #fff;
  }
}

.reviews-card-text {
  letter-spacing: -0.02em;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;

  @include media(desktop) {
    text-align: center;
    letter-spacing: -0.02em;
  }
}
.swiper-reviews {
  position: relative;
}

#reviews-btn-prev {
  margin-left: -10px;
}
#reviews-btn-next {
  margin-right: -10px;
}

.swiper-wrapper-reviews {
  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

.reviews-card-theme-n {
  @include media(desktop) {
    margin-bottom: -25px;
  }
}

.reviews-card-theme-m {
  @include media(desktop) {
    margin-bottom: -12px;
  }
}
