.adventages-section {
  margin-bottom: 70px;
  scroll-margin-top: 60px;
  @include media(desktop) {
    margin-bottom: 10px;
    scroll-margin-top: 140px;
  }
}

.adv-container {
  width: 100%;
  position: relative;
}

.adv-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
}

.adv-item {
  text-align: center;
}

.desk-title {
  color: #fff;
  @include font(20, 48.9);

  @include media(desktop) {
    margin-bottom: 52px;
    @include font(50, 19.56);
  }
}

.about-list-img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding-bottom: 10px;
  @include media(desktop) {
    width: 36px;
    height: 36px;
    padding-bottom: 38px;
  }
}

.customization-title {
  color: #fff;
  @include font(18, 17.6);
  padding-bottom: 10px;
  @include media(desktop) {
    @include font(30, 29.34);
    font-weight: 400;
  }
}

.about-list-text {
  color: #fff;
  @include font(14, 18.67);
  @include media(desktop) {
    @include font(20, 26.67);
  }
}

.adv-swiper-only {
  .swiper-gallery {
    width: 230px;
  }

  .gallery-slide-box {
    max-width: 230px;
  }
}

.adv-swiper-container {
  display: flex;
  text-align: center;
  gap: 10px;
  margin: 0 auto;

  @include media(desktop) {
    gap: 24px;
    width: 926px;
  }
}

.adv-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 6px;
  z-index: 100;
  padding: 0;
  @include media(desktop) {
    top: -47px;
  }

  img {
    width: 9px;
    height: 15px;
    transition: all 500ms ease;
    @include media(desktop) {
      width: 12px;
      height: 21px;
    }
  }

  &.adv-btn-next {
    right: 0;
    padding-left: 10px;
  }

  &.adv-btn-prev {
    left: 0;
    padding-right: 10px;
    @include media(desktop) {
      left: auto;
      right: 25px;
    }
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
