.cookies_policy {
  background-color: #177086;
  font-family: "Afacad", sans-serif;
}

.cookies_back_link {
  font-family: "Aldrich", sans-serif;
  display: flex;
  gap: 10px;
  padding-bottom: 23px;
  font-weight: 400;
  @include font(16, 13.69);
  @include media(desktop) {
    @include font(20, 19.56);
  }
}
.cookies_back_link_icon {
  width: 17px;
  height: 13px;
}
.cookies_title {
  font-family: "Aldrich", sans-serif;
  @include font(20, 19.56);
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  @include media(desktop) {
    @include media(desktop) {
      @include font(50, 48.9);
      padding-bottom: 37px;
    }
  }
}
.cookies_text {
  padding-bottom: 10px;
  @include font(14, 18.67);
  font-weight: 400;
  @include media(desktop) {
    @include font(24, 32);
    padding-bottom: 16px;
  }
}

.cookies_end {
  padding-bottom: 16px;
  font-weight: 400;
  @include media(desktop) {
    padding-bottom: 44px;
  }
}
.cookies_subtitle {
  font-family: "Aldrich", sans-serif;
  @include font(18, 17.6);
  padding-bottom: 10px;
  @include media(desktop) {
    @include font(40, 49.12);
    padding-bottom: 18px;
  }
}
.cookies_h3_title {
  @include font(16, 21.33);
  font-family: "Aldrich", sans-serif;
  font-weight: 600;
  padding-top: 5px;
  @include media(desktop) {
    @include font(30, 40);
  }
}
.cookies_list_title {
  font-family: "Aldrich", sans-serif;
  font-weight: 600;
  @include font(16, 21.33);
  @include media(desktop) {
    @include font(30, 40);
  }
}
.cookies_list_text {
  @include font(16, 21.33);
  padding-bottom: 16px;
  @include media(desktop) {
    @include font(30, 40);
    padding-bottom: 44px;
  }
}
.cookies_list_item {
  list-style: none;
  @include media(desktop) {
    list-style: disc;
  }
}
.cookies_subtitle_2 {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  @include font(18, 17.6);
  padding-bottom: 10px;
  @include media(desktop) {
    @include font(40, 39.12);
    padding-bottom: 18px;
  }
}

.cookies_subtitle_6 {
  font-family: "Aldrich", sans-serif;
  font-weight: 600;
  @include font(16, 21.33);
  @include media(desktop) {
    @include font(30, 40);
  }
}

.cookies_text_decorate {
  position: relative;
  padding-left: 20px;
  font-weight: normal;
  padding-top: 5px;
  @include font(16, 21.33);
  @include media(desktop) {
    @include font(30, 40);
  }
}

.cookies_text_decorate::before {
  content: "•";
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.mb105 {
  padding-bottom: 10px;
  @include media(desktop) {
    padding-bottom: 15px;
  }
}

.cookies_list_text1 {
  padding-left: 10px;
  padding-bottom: 40px;
  @include font(16, 21.33);
  @include media(desktop) {
    @include font(30, 40);
  }
}

.cookies_list_item1 {
  list-style: disc;
}

.cookies_item_link {
  text-decoration: underline;
}
.cookies_email {
}
