<section class="gallery" id="about-game">
  <div class="container gallery-container">
    <h2 class="title">About game</h2>
    <div class="gellary-swiper-container">
      <button class="reviews-btn" id="gallery-btn-prev" type="button">
        <svg class="review-svg" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrowsmallleft"></use>
        </svg>
      </button>
      <div class="gallery-swiper-only">
        <div class="swiper-gallery swiper">
          <ul class="swiper-wrapper-gallery gallery-slide-box">
            <li class="swiper-slide-gallery">
              <img class="gallery-image" srcset="
                  ./img/gallery-img/Frame 7 (1).jpg    185w,
                  ./img/gallery-img/Frame 7 (1).jpg    352w,
                  ./img/gallery-img/Frame 7 (1).jpg  370w,
                  ./img/gallery-img/Frame 7 (1).jpg 704w
                " sizes="(min-width: 1200px) 352px, (max-width: 1199px) 185px" src="./img/gallery-img/Frame 7 (1).jpg"
                alt="Robot Blaze screenshot of a treasure chest" loading="lazy" />
            </li>
            <li class="swiper-slide-gallery">
              <img class="gallery-image" srcset="
                  ./img/gallery-img/Frame 7 (1).jpg    185w,
                  ./img/gallery-img/Frame 7 (1).jpg   352w,
                  ./img/gallery-img/Frame 7 (1).jpg  370w,
                  ./img/gallery-img/Frame 7 (1).jpg 704w
                " sizes="(min-width: 1200px) 352px, (max-width: 1199px) 185px" src="./img/gallery-img/Frame 7 (1).jpg"
                alt="Robot Blaze screenshot of the queen" loading="lazy" />
            </li>
            <li class="swiper-slide-gallery">
              <img class="gallery-image" srcset="
                  ./img/gallery-img/Frame 7 (1).jpg    185w,
                  ./img/gallery-img/Frame 7 (1).jpg   352w,
                  ./img/gallery-img/Frame 7 (1).jpg  370w,
                  ./img/gallery-img/Frame 7 (1).jpg 704w
                " sizes="(min-width: 1200px) 352px, (max-width: 1199px) 185px" src="./img/gallery-img/Frame 7 (1).jpg"
                alt="Robot Blaze screenshot of levels and stars" loading="lazy" />
            </li>
            <li class="swiper-slide-gallery">
              <img class="gallery-image" srcset="
                  ./img/gallery-img/Frame 7 (1).jpg        185w,
                  ./img/gallery-img/Frame 7 (1).jpg   352w,
                  ./img/gallery-img/Frame 7 (1).jpg     370w,
                  ./img/gallery-img/Frame 7 (1).jpg 704w
                " sizes="(min-width: 1200px) 352px, (max-width: 1199px) 185px" src="./img/gallery-img/Frame 7 (1).jpg"
                alt="Robot Blaze screenshot" loading="lazy" />
            </li>
          </ul>
        </div>
        <div class="gallery-nav">
          <div class="pagination" id="gallery-pagination">
            <span class="pagination-btn"></span>
            <span class="pagination-btn"></span>
            <span class="pagination-btn"></span>
          </div>
        </div>
      </div>
      <button class="reviews-btn" id="gallery-btn-next" type="button">
        <svg class="review-svg" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrowsmallright"></use>
        </svg>
      </button>
    </div>
  </div>
</section>