<link
  href="https://fonts.googleapis.com/css2?family=Aldrich&family=Afacad:wght@400;600&display=swap"
  rel="stylesheet"
/>
<section class="adventages-section">
  <div class="container">
    <h2 class="title desk-title">Adventages</h2>
    <div class="adv-container">
      <!-- Swiper -->
      <div>
        <button class="adv-btn-prev adv-btn" type="button">
          <img src="./img/adv-arrow-left.png" alt="button prev" />
        </button>

        <button class="adv-btn-next adv-btn" type="button">
          <img src="./img/adv-arrow-right.png" alt="Button next" />
        </button>
      </div>
      <div class="swiper mySwiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide adv-item">
            <img
              class="about-list-img"
              src="./img/adventages-img/devicon-plain_cloudrun.png"
              alt="High-Speed Action"
            />
            <h3 class="customization-title">High-Speed Action</h3>
            <p class="about-list-text">
              Dash at lightning speed through futuristic environments,
              overcoming obstacles and enemies in your path.
            </p>
          </li>

          <li class="swiper-slide adv-item">
            <img
              class="about-list-img"
              src="./img/adventages-img/game-icons_robot-golem.png"
              alt="Robot Customization"
            />
            <h3 class="customization-title">Robot Customization</h3>
            <p class="about-list-text">
              Upgrade and personalize your robot with a variety of futuristic
              enhancements to fit your playstyle.
            </p>
          </li>

          <li class="swiper-slide adv-item">
            <img
              class="about-list-img"
              src="./img/adventages-img/streamline_graph-bar-increase-solid.png"
              alt="Challenging Obstacles"
            />
            <h3 class="customization-title">Challenging Obstacles</h3>
            <p class="about-list-text">
              Face increasingly difficult obstacles and enemy robots as you
              progress through levels.
            </p>
          </li>

          <li class="swiper-slide adv-item">
            <img
              class="about-list-img"
              src="./img/adventages-img/mdi_sword-fight.png"
              alt="Epic Boss Fights"
            />
            <h3 class="customization-title">Epic Boss Fights</h3>
            <p class="about-list-text">
              Test your skills in intense boss battles, where quick reflexes and
              strategic thinking are crucial.
            </p>
          </li>

          <li class="swiper-slide adv-item">
            <img
              class="about-list-img"
              src="./img/adventages-img/ph-gear.png"
              alt="Power-Up System"
            />
            <h3 class="customization-title">Power-Up System</h3>
            <p class="about-list-text">
              Collect power-ups that enhance your robot's speed, strength, and
              abilities, giving you an edge in each level.
            </p>
          </li>

          <li class="swiper-slide adv-item">
            <img
              class="about-list-img"
              src="./img/adventages-img/bxs_joystick.png"
              alt="Smooth and Intuitive Control"
            />
            <h3 class="customization-title">Smooth and Intuitive Control</h3>
            <p class="about-list-text">
              Enjoy fluid gameplay with easy-to-learn controls that offer depth
              for advanced players.
            </p>
          </li>

          <li class="swiper-slide adv-item">
            <img
              class="about-list-img"
              src="./img/adventages-img/free-to-play.png"
              alt="Free-to-Play with Optional Purchases"
            />
            <h3 class="customization-title">
              Free-to-Play with Optional Purchases
            </h3>
            <p class="about-list-text">
              Upgrade and personalize your robot with a variety of futuristic
              enhancements to fit your playstyle.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
