<footer class="footer">
  <div class="container background-image">
    <div class="footer-text-wrapper">
      <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a
      ><span class="footer-span"> / </span>
      <a class="footer-link" href="./terms-and-conditions.html"
        >Terms and Conditions.</a
      ><span class="footer-span"> / </span>
      <!-- Cookies -->
      <a class="footer-link" href="./cookeis-page.html">Cookie Policy</a>
    </div>
    <p class="footer-text">©All rights reserved, 2025 blazegamehero.com</p>
    <!-- <div class="footer-text-wrapper">
      <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a
      ><span class="footer-span"> / </span>
      <a class="footer-link" href="./terms-and-conditions.html"
        >Terms and Conditions.</a
      >
    </div> -->
  </div>
</footer>
