<!-- <header class="container header">
  <div class="header-wraper">
    <nav class="header-list-wraper">
      <ul class="header-list">
        <li class="header-list-item">
          <div class="header-logo-wraper">
            <a href="./index.html">
              <img src="./img/header-img/logo.png" alt="logo" class="header-logo" width="55" height="55" />
            </a>
          </div>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="./index.html">Home</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#about-game">About game</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#adventages">Adventages</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#reviews-section">Reviews</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link" href="#How-to-Play">How to play</a>
        </li>
      </ul>
    </nav>
    <div class="header-btn-wraper">
      <button class="header-btn-burger js-open-menu cordinate">
        <svg class="header-burger-img" width="30" height="30">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header> -->
<!-- 
<header class="container header">
  <div class="header-wraper">
    <div class="header-logo-wraper">
      <a href="./index.html"><img src="./img/header-img/logo.png" alt="logo" class="header-logo" width="55"
          height="55" />
      </a>
      <nav class="header-list-wraper">
        <ul class="header-list">
          <li class="header-list-item">
            <a class="header-list-link" href="./index.html">Home</a>
          </li>
          <li class="header-list-item">
            <a class="header-list-link" href="#gallery-section">Gallery</a>
          </li>
          <li class="header-list-item">
            <a class="header-list-link" href="#about-us-section">About Us</a>
          </li>
          <li class="header-list-item">
            <a class="header-list-link" href="#reviews-section">Reviews</a>
          </li>
          <li class="header-list-item">
            <a class="header-list-link" href="#features-section">Features</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-btn-wraper">
      <button class="header-btn-burger js-open-menu cordinate">
        <svg class="header-burger-img" width="30" height="30">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header> -->

<header class="container header ">
  <div class="header-wraper">
    <!-- Логотип окремо від навігації -->
    <div class="header-logo-wraper">
      <picture id="hero-logo">
        <source srcset="./img/header-img/logo-mobile-1x.png" media="(max-width: 1199px)">
        <source srcset="./img/header-img/logo-desk-1x.png" media="(min-width: 768px)">
        <img src="./img/header-img/logo-desk-1x.png" alt="logo" class="header-logo" width="" height="">
      </picture>
    </div>

    <nav class="header-list-wraper">

      <div class="header-logo-wraper">



        <ul class="header-list">
          <li class="header-list-item"><a href="./index.html">Home</a></li>
          <li class="header-list-item"><a href="#about-game">About game</a></li>
          <li class="header-list-item"><a href="#adventages">Adventages</a></li>
          <li class="header-list-item"><a href="#reviews-section">Reviews</a></li>
          <li class="header-list-item"><a href="#How-to-Play">How to play</a></li>
          <li class="header-list-item"><a href="#our-uniques">Our Uniques</a></li>
        </ul>
    </nav>

    <!-- Кнопка бургера для мобільної версії -->
    <div class="header-btn-wraper">
      <button class="header-btn-burger js-open-menu">
        <!-- <svg class="header-burger-img" width="30" height="30">
          <use href="../img/Burger_menu.png"></use>
          
        </svg> -->
        <img lass="img-logo-v" src="./img/Burger_menu (1).png" alt="logo" class="header-logo" width="23" height="12">

      </button>
    </div>
  </div>
  </div>

  <!-- Навігація для десктопу -->

</header>