<section class="hero">
  <div class="hero-wrapper container">
    <div class="gradient"></div>
    <div class="hero-text-button-container">
      <h1 class="hero-title">Robot Blaze dash adventure </h1>
      <p class="hero-text">
        Dash Through the Future!
      </p>
      <a class="download-button" id="display-none" aria-label="Download Robot Blaze on Google Play"
        href="https://play.google.com/store/apps/details?id=com.mobowl.JewelQueen.google"><img class="btn-icon"
          src="./img/google_download.svg" alt="google play logo" />
        <p>
          <span class="btn-text-small">Download on</span>
          <span class="btn-text-big">Google Play</span>
        </p>
      </a>
    </div>
    <img class="hero-image" srcset="
        ./img/hero-img/Exclude.png 1x,
        ./img/hero-img/Exclude.png 2x
      " src="./img/hero-img/Exclude.png" alt="Robot Blaze game displayed on an iPhone screen" width="599px"
      height="443px" />
  </div>
</section>