<section class="how-to-Play-section" id="How-to-Play">
  <div class="container how-to-play">
    <h2 class="title">How to Play</h2>
    <ul class="play_list">
      <li class="play_item">
        <div class="play_info">
          <h3 class="play_title">Select Your Robot</h3>
          <p class="play_text">
            Choose your robot with unique stats, powers, and abilities.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/how-to-play-img/frame-18-mobile-x1.png 1x,
              ./img/how-to-play-img/frame-18-mobile-x2.png 2x
            "
            media="(max-width: 1200px)"
          />
          <source
            srcset="
              ./img/how-to-play-img/frame-18x1.png 1x,
              ./img/how-to-play-img/frame-18x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="play-img"
            src="./img/how-to-play-img/frame-18x1.png"
            alt="How to play image"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="play_item">
        <div class="play_info">
          <h3 class="play_title">Upgrade Your Robot</h3>
          <p class="play_text">
            Collect energy crystals and use them to enhance your robot’s
            capabilities, such as speed, attack power, and defense.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/how-to-play-img/frame-19-mobile-x1.png 1x,
              ./img/how-to-play-img/frame-19-mobile-x2.png 2x
            "
            media="(max-width: 1200px)"
          />
          <source
            srcset="
              ./img/how-to-play-img/frame-19x1.png 1x,
              ./img/how-to-play-img/frame-19x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="play-img"
            src="./img/how-to-play-img/frame-19x1.png"
            alt="How to play image"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="play_item">
        <div class="play_info">
          <h3 class="play_title">Complete Levels</h3>
          <p class="play_text">
            Race through diverse levels filled with obstacles and enemies. Each
            level increases in difficulty.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/how-to-play-img/frame-23-mobile-x1.png 1x,
              ./img/how-to-play-img/frame-23-mobile-x2.png 2x
            "
            media="(max-width: 1200px)"
          />
          <source
            srcset="
              ./img/how-to-play-img/frame-23x1.png 1x,
              ./img/how-to-play-img/frame-23x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="play-img"
            src="./img/how-to-play-img/frame-23x1.png"
            alt="How to play image"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="play_item">
        <div class="play_info">
          <h3 class="play_title">Avoid Obstacles</h3>
          <p class="play_text">
            Dodge barriers, traps, and other dangers that can slow you down or
            destroy your robot.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/how-to-play-img/frame-24-mobile-x1.png 1x,
              ./img/how-to-play-img/frame-24-mobile-x2.png 2x
            "
            media="(max-width: 1200px)"
          />
          <source
            srcset="
              ./img/how-to-play-img/frame-24x1.png 1x,
              ./img/how-to-play-img/frame-24x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="play-img"
            src="./img/how-to-play-img/frame-24x1.png"
            alt="How to play image"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="play_item">
        <div class="play_info">
          <h3 class="play_title">Fight Enemies</h3>
          <p class="play_text">
            Use powerful attacks and strategic movements to defeat enemy robots
            and bosses in epic showdowns.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/how-to-play-img/frame-27-mobile-x1.png 1x,
              ./img/how-to-play-img/frame-27-mobile-x2.png 2x
            "
            media="(max-width: 1200px)"
          />
          <source
            srcset="
              ./img/how-to-play-img/frame-27x1.png 1x,
              ./img/how-to-play-img/frame-27x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="play-img"
            src="./img/how-to-play-img/frame-27x1.png"
            alt="How to play image"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="play_item">
        <div class="play_info">
          <h3 class="play_title">Collect Power-Ups</h3>
          <p class="play_text">
            Grab power-ups along the way to temporarily enhance your robot’s
            abilities and help you complete each level more effectively.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/how-to-play-img/frame-28-mobile-x1.png 1x,
              ./img/how-to-play-img/frame-28-mobile-x2.png 2x
            "
            media="(max-width: 1200px)"
          />
          <source
            srcset="
              ./img/how-to-play-img/frame-28x1.png 1x,
              ./img/how-to-play-img/frame-28x2.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="play-img"
            src="./img/how-to-play-img/frame-28x1.png"
            alt="How to play image"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
