<div class="backdrop js-menu-container" id="mobile-menu">
  <div class="mob-wrap js-close-menu">
    <!-- <button class="mob-btn-close js-close-menu" aria-label="button-menu-close" type="button">
      <svg class="btn-close" width="30" height="30">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button> -->
    <nav class="mob-menu">
      <ul class="mob-list">
        <li class="mob-item">
          <a href="#" aria-label="home-link" class="mob-link js-header-link">Home</a>
        </li>
        <li class="mob-item">
          <a href="#about-game" aria-label="gallery-link" class="mob-link js-header-link">About game</a>
        </li>
        <li class="mob-item">
          <a href="#adventages" aria-label="about-us-link" class="mob-link js-header-link">Adventages</a>
        </li>
        <li class="mob-item">
          <a href="#reviews-section" aria-label="reviews-link" class="mob-link js-header-link">Reviews</a>
        </li>
        <li class="mob-item">
          <a href="#How-to-Play" aria-label="features-link" class="mob-link js-header-link">How to play</a>
        </li>

        <li class="mob-item">

          <a href="#our-uniques" aria-label="features-link" class="mob-link js-header-link">Our Uniques
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>