.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.section {
  padding: 24px 0;
  @include media(desktop) {
    padding: 48px 0;
  }
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 24px;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 48px;
  }
}

.no-scroll {
  overflow: hidden;
}

.title {
  line-height: 1.1em;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 35px;
  font-style: normal;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
